@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
:root {
  --primary-color: #1d1d1d;
  --secondary-color: #fff;
  --third-color: #46e0bc;
  --fourth-color: #e05046;
  --fifth-color: #F4E3B2;
  --sixth-color: #05668d;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-origin: padding-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

body {
  font-size: 16px;
  background-color: var(--fifth-color);
}

.calculator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calc-container {
  background-color: var(--primary-color);
  width: 300px;
  height: auto;
  border-radius: 0 0 30px 30px;
}

.output {
  width: 100%;
}

.operation {
  width: 300px;
  height: 70px;
  color: #878787;
  font-size: 1.9em;
  font-weight: 700;
  position: relative;
  overflow: hidden;
}

.operation .value {
  position: absolute;
  bottom: 5px;
  right: 10px;
  white-space: nowrap;
  overflow: hidden;
}

.result {
  width: 300px;
  height: 140px;
  color: var(--secondary-color);
  font-size: 2.7em;
  font-weight: 700;
  overflow: hidden;
  position: relative;
}

.result .value {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  white-space: nowrap;
  overflow: hidden;
}

.input {
  background-color: var(--secondary-color);
  border-radius: 0 0 25px 25px;
  border: 2px solid var(--primary-color);
  height: 340px;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.row button {
  width: 50px;
  height: 50px;
  margin: 8px;
  font-size: 1.5em;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

.row button:hover {
  font-weight: 500;
}

.row #calculate {
  color: var(--secondary-color);
  background-color: var(--third-color);
  width: 121px;
  border-radius: 50px;
}

.row #delete {
  color: var(--secondary-color);
  background-color: var(--fourth-color);
}

#division, #multiplication, #subtraction, #addition {
  color: var(--sixth-color);
}

@media (max-width: 500px) {
  body {
    overflow: hidden;
    background-color: var(--primary-color);
  }
  .calculator {
    position: absolute;
    top: 0;
    left: 0%;
    transform: translate(0);
  }
  .calc-container {
    border-radius: 0;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
  }
  .result {
    width: 100vw;
  }
  .operation {
    width: 100vw;
  }
  .operation .value {
    transform: translateX(-2%);
  }
  .input {
    border: none;
    border-radius: 0;
    padding-top: 5px;
  }
  .row #calculate {
    transform: translateX(-6%);
  }
  .row #comma {
    transform: translateX(-20%);
  }
  .row #O {
    transform: translateX(-8%);
  }
  .result .value {
    transform: translate(-2%, -15%);
  }
}